.trash {
  flex: 0 0 48%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px dashed transparent;
  img {
    opacity: 0.5;
  }

  .message {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 1.2em;
    color: #5DD65D;
    img {
      display: inline-block;
      vertical-align: middle;
    }
  }
}

.trashOver {
  composes: trash;
  border-color: #d4d4d4;
  img {
    opacity: 1;
  }
}


.donaldInTrash {
  composes: trash;
  border-color: #5DD65D;
  img {
    opacity: 1;
  }
}