@import "../../shared/variables.css";

.targetsWrapper {
  position: absolute;

  top: calc(var(--donald-size) + (var(--donald-top-padding) * 2));
  height: 600px;
  left: 0;
  right: 0;
  display: flex;
}

.dragLayer {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.itemPreview {
  position: absolute;
}