@import "../../shared/variables.css";

.donaldWrapper {
  position: absolute;
  left: calc(50% - (var(--donald-size)/2))
}
.donald {
  border-radius: 300px;
  height: var(--donald-size);
  width: var(--donald-size);
  background: red;
  cursor: move;
}

.donaldDragPreview {
  composes: donald;
  border-radius: 0;
  border: 1px solid black;
}