@import "../../shared/variables.css";

.donaldWrapper {
  position: absolute;
  padding-top: var(--donald-top-padding);
  left: calc(50% - (var(--donald-size)/2));
  text-align: center;
}
.donald {
  border-radius: 300px;
  height: var(--donald-size);
  width: var(--donald-size);
  background: #f0f0f0;
  cursor: move;
  box-shadow: 0 0px 10px 0px rgba(0, 0, 0 ,0.3);
  display: inline-block;
  img {
    width: var(--donald-size);
  }
}

.donaldDragPreview {
  composes: donald;
  border: 1px solid black;
}

.info {
  color: #444;
  font-size: 1.2em;
  width: var(--donald-info);
  position: absolute;
  left: -calc(var(--donald-size)/2);
  p {
    margin: 0 0 5px 0;
  }
  span.dragInfo {
    font-size: 2.2em;
    display: block;
  }
}