.whiteHouse {
  flex: 0 0 48%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px dashed transparent;
  margin-left: 2%;
  img {
    opacity: 0.5;
  }

  .message {
    position: absolute;
    top: 20px;
    left: 3%;
    font-size: 1.2em;
    color: red;
    img {
      display: inline-block;
      vertical-align: middle;
    }
  }
}

.whiteHouseOver {
  composes: whiteHouse;
  border-color: #d4d4d4;
  img {
    opacity: 1;
  }
}

.donaldInWhiteHouse {
  composes: whiteHouse;
  border-color: red;
  img {
    opacity: 1;
  }
}