.whiteHouse {
  flex: 0 0 48%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px dashed transparent;
}

.whiteHouseOver {
  composes: whiteHouse;
  border-color: #d4d4d4;
  img {
    opacity: 0.5;
  }
}